<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/2fa.css') }}">
    <script type="application/javascript" src="{{ url_for('static',filename='src/2fa.js') }}"></script>
    <script type="application/javascript">setInterval(updateTimer,1000,{{timeout}}*1000);</script>
    <script type="application/javascript">generateRequest("{{token}}");</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashBank | Authenticate</title>
</head>
<body>
    <div id="2fa_rect" class="rectangle">
        <div id="content_2fa">
            <div id="text_cont">
                <span class="text" id="confirmDigitsText">You will shortly receive a call on {{phone_number}}.</span>
                <span class="text" id="pleaseInput"> Please input the following digits: </span>
            </div>
            <div id="digits">
                <div class="circle" id="d1">{{digit1}}</div>
                <div class="circle" id="d2">{{digit2}}</div>
            </div>
            <span class="text" id="timeout">This code will expire in: <span id="timeLeft"></span></span>
        </div>
    </div>
</body>
</html>