<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
    <script src="{{ url_for('static',filename='src/login.js') }}" defer></script>
    <title>CashBank | Login</title>
</head>
<body>
    <!--Adapted from https://codepen.io/fghty/pen/PojKNEG -->
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="login_form" action="{{ url_for('login')}}" method="POST">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Username" required name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" required name="password" style="margin-bottom: 20px;">

        <!-- Toggle adapted from https://codepen.io/Mr_Rahul_Tiwari/pen/ZEWMZNV -->
        <span>2FA method</span>
        <div class="toggle">
            <input class="toggle-checkbox" type="checkbox" name="SMS"></input>
            <label class="toggle-label" for="SMS"><span class="toggle-label-span">Call</span></label>
          </div>

        <button>Log In</button>
    </form>
</body>
</html>