<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/2fa.css') }}">
    <title>CashBank | Authenticate</title>
</head>
<body>
    <div id="2fa_rect" class="rectangle">
        <div id="content_2fa">
            <form action="{{ url_for('check_code') }}" method="POST">
                <h1>Receive verification</h1>
                <input type="text" style="display: none" name="response_at" id="response_at">
                <script>document.getElementById("response_at").value='{{ response_at|string }}';</script>
                <div>
                    <label for="code" style="display: block;text-align: center; margin-bottom: 20px">Please input the 2-digit code received over the phone:</label>
                    <input type="text" style="display: block;width: 15%;height: 8%;min-width: 100px;margin: auto;"inputmode="numeric" pattern="\d{2}" placeholder="e.g.:12" id="code"
                           name="code" oninput="this.value = this.value.replace(/[^0-9]/g, '').substring(0,2)" required>
                </div>
                <input type="text" name="token" style="display: none;" id="token_unused_input">
                <script>document.getElementById('token_unused_input').value = {{ token }};</script>
                <button style="width: 80px; height:35px;margin-top: 10px; margin-bottom: 10px;align-self: center;">Submit</button>
            </form>
            <a href="{{ url_for('cancel_req') }}?token={{ token }}"><button>Cancel!</button></a>
        </div>
    </div>
</body>
</html>