<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%- if success == 'true' -%}Success{%- else -%}Failure{%- endif -%}</title>
</head>
<body>
    <h1 style="color: {%- if success == 'true' -%}green{%- else -%}red{%- endif -%};">{%- if success == 'true' -%}Success{%- else -%}Failure{%- endif -%}!</h1>
    <h2>Connection establishment {% if success == 'true' -%}successful{%- else -%}failed! You've inputted the wrong code{%- endif -%}.</h2>
    <a href="{{ url_for('homepage_login') }}"><button>Return to homepage</button></a>
</body>
</html>